@page "/"
@using System.Text.Json;
@inject NavigationManager _navigation;

<grid>
    <grid-title><h1>SLOTS</h1></grid-title>
    <grid-menu></grid-menu>
    @foreach (var slot in _slots.Select((x, i) => (name: x, i)))
    {
        <grid-menu>
            <custom-button tabindex="@slot.i" @onclick="(()=>OnClick(slot.i))">
                @slot.name
            </custom-button>
        </grid-menu>
    }
</grid>
@code {
    private string[] _slots = null!;
    string GetLink(int i) => $"score/{i}";

    protected override void OnInitialized()
    {
        _slots = Preferences.Get("Slots", String.Join('|', Enumerable.Repeat("empty", 20))).Split('|');
    }
    private void OnClick(int i)
    {
        _navigation.NavigateTo(GetLink(i));
        #if ANDROID
        Vibration.Vibrate(TimeSpan.FromMilliseconds(100));
        #endif
    }
}